NEXT_PUBLIC_APP_API_KEY="AIzaSyAZh2ds2YM4JdV4y77WDseQtRQh_ayEaQo"

NEXT_PUBLIC_APP_AUTH_DOMAIN="aula-nextjs-firebase.firebaseapp.com"

NEXT_PUBLIC_APP_PROJECT_ID="aula-nextjs-firebase"

NEXT_PUBLIC_APP_STORAGE_BUCKET="aula-nextjs-firebase.appspot.com"

NEXT_PUBLIC_APP_MESSAGING_SENDER_ID="1054569768862"

NEXT_PUBLIC_APP_APP_ID="1:1054569768862:web:2a15d8661bd0636db0188f"

NEXT_PUBLIC_APP_CONTROLE="app-links-lumen-next" 

NEXT_PUBLIC_BASE_API_URL="http://localhost:8000"

NEXT_PUBLIC_COOKIE_API_AUTH="auth-co-app-meli"

NEXT_PUBLIC_JWT_SECRET=muJF48A0nwv42PnDEAKRr8ARW2o7zu2Vn56HMl6RL1E6OeBYSmyVBFR3okTu83y8            